Working with Tabular Data

In [ ]:
#working with Lists:
#declare a variable house_0_list
house_0_list = [115910.26, 128, 4]

#we can use the function type to understand the object type of the variable
type(house_0_list)

list

In [ ]:
# We can use the function len to understand the length of a variable
print("house_0_list has",len(house_0_list),"charaters")

house_0_list has 3 charaters

In [ ]:
#getting output of the list
house_0_list

[115910.26, 128, 4]

In [ ]:
#price per sqmetere of house_0_list
house_0_price_m2 =house_0_list[0]/house_0_list[1]
print("the price/metersq for house_0_list is",house_0_price_m2)

the price/metersq for house_0_list is 905.54890625

In [ ]:
type(house_0_price_m2)

float

In [ ]:
house_0_price_m3 = ...
type(house_0_price_m3)

ellipsis

In [ ]:
#Appending to a list
house_0_list.append(house_0_price_m2)
print("appeneded list = ",house_0_list)

appeneded list =  [115910.26, 128, 4, 905.54890625]

In [ ]:
#using nested lists to work with multiple rows of orgamized data
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

In [ ]:
print("houses_nested_list's type",type(houses_nested_list))
print("houses_nested_list's length",len(houses_nested_list))

houses_nested_list's type <class 'list'>
houses_nested_list's length 5

In [ ]:
#we can use a for loop to automate the price/m2 calculation for all the sub lists and append it to each of the lists
for house in houses_nested_list:
  price_m2 = house[0]/house[1]
  house.append(price_m2)

print(houses_nested_list)

[[115910.26, 128.0, 4.0, 905.54890625], [48718.17, 210.0, 3.0, 231.9912857142857], [28977.56, 58.0, 2.0, 499.61310344827587], [36932.27, 79.0, 3.0, 467.4970886075949], [83903.51, 111.0, 3.0, 755.8874774774774]]

Using dictionary in place of lists

In [ ]:
house_0_dict ={
    "price_aprox_usd": 115910.26,
    "surface_covered_in_m2": 128.0,
    "rooms": 4.0
}
type(house_0_dict)
house_0_dict

{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128.0, 'rooms': 4.0}

In [ ]:
a=house_0_dict["price_aprox_usd"]
b=house_0_dict["surface_covered_in_m2"]
price_m2_dict = a/b
price_m2_dict
house_0_dict["price_m2"] = price_m2_dict
house_0_dict

{'price_aprox_usd': 115910.26,
 'surface_covered_in_m2': 128.0,
 'rooms': 4.0,
 'price_m2': 905.54890625}

In [ ]:
# Declare variable `houses_rowwise`
# In order to organise the dictsionaries we again use a list (a list of dictionaries also called a record)
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [ ]:
for record in houses_rowwise:
  record["price_per_m2"] = record["price_approx_usd"]/record["surface_covered_in_m2"]

houses_rowwise

[{'price_approx_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_approx_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_approx_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_approx_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_approx_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

In [ ]:
#find out the mean of the prices
house_prices=[]
for house in houses_rowwise:
  house_prices.append(house["price_approx_usd"])

house_prices
avg_price = sum(house_prices)/len(house_prices)
print("Mean price:", avg_price)

Mean price: 62888.35399999999

In [ ]:
# Declare variable `houses_columnwise`
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [ ]:
#finding out the mean price columnwise
mean_price = sum(houses_columnwise["price_approx_usd"])/len(houses_columnwise["price_approx_usd"])
mean_price

62888.35399999999

In [ ]:
#rowwise calculation
price = houses_columnwise["price_approx_usd"]
area = houses_columnwise["surface_covered_in_m2"]
iterator = (zip(price,area))
price_per_m2 = []
for p,a in zip(price,area):
  price_m2 = p/a
  price_per_m2.append(price_m2)

houses_columnwise["price_per_m2"] = price_per_m2
houses_columnwise

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}